<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/N276olISAwaqMQqB">
          <i class="fa fa-columns"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/3U0bzsE9e1mQBuIW/departments">
          <i class="fa fa-graduation-cap"></i>
          Departments
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/3U0bzsE9e1mQBuIW/ebook">
          <i class="fa fa-book"></i>
          Ebooks
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/3U0bzsE9e1mQBuIW/blogs">
          <i class="fa fa-newspaper"></i>
          Blogs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/3U0bzsE9e1mQBuIW/journals">
          <i class="fas fa-journal-whills"></i>
          Journals
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/3U0bzsE9e1mQBuIW/studyMaterials">
          <i class="fas fa-book-reader"></i>
          Study Materials
        </a>
      </li>
    </ul>

    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
    >
      <span>Saved reports</span>
      <a
        class="d-flex align-items-center text-muted"
        href="#"
        aria-label="Add a new report"
      >
        <i class="fa fa-plus"></i>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link text-white" href="#">
          <i class="fa fa-graduation-cap"></i>
          Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">
          <i class="fa fa-graduation-cap"></i>
          Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">
          <i class="fa fa-graduation-cap"></i>
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">
          <i class="fa fa-graduation-cap"></i>
          Year-end sale
        </a>
      </li>
    </ul>
  </div>
</nav>
