<!-- contact section -->
<section class="custom-color lighten-1" id="contact-section">
  <a href="#!" class="scrollTop" title="to top" onclick="smoothScrollTop('#tnav')"
  ><i class="material-icons">arrow_upward</i></a>
  <div class="container scrollspy" id="contact">
    <div class="card-panel deep-blue" id="contact-info">
      <h5 class="card-title white-text">
        জ্ঞানঘর - Comillla University
      </h5>
      <p class="amber-text">জ্ঞানের আলোয় আলোকিত</p>

      <ul class="collection">
        <li class="collection-item">
          <i class="icon-map"></i>
          <a href="#"> Address: Salmanpur, Comilla</a>
        </li>

        <li class="collection-item">
          <i class="icon-envelope"></i>
          <a href="mailto:info@cougyanghor.com"> Email: info@cougyanghor.com</a>
        </li>
        <li class="collection-item">
          <i class="icon-phone"></i>
          <a href="#!"> Mobile: 01289723309</a>
        </li>
        <li class="collection-item">
          <i class="icon-globe"></i>
          <a href="https://cou.ac.bd" target="_blank">Website: CoU Official Website</a>
        </li>
      </ul>
    </div>

    <div class="card-panel center deep-blue" id="its">
      <h5 class="card-title">Maintained By</h5>
      <img src="/images/couits-logo.png" class="responsive-img" alt="it society" />

      <h5 title="we make IT happen">CoU IT Society</h5>
      <a href="https://facebook.com/CoUITS" target='_blank' >
        <i class="icon-social-facebook"></i>
      </a>
      <a href="https://twitter.com/CoUITSociety" target='_blank' >
        <i class="icon-social-twitter"></i>
      </a>
      <a href="https://instagram.com/couitsociety" target='_blank'>
        <i class="icon-social-instagram"></i>
      </a>
    </div>

    <div class="card-panel deep-blue" id="thoughts">
      <h5 class="white-text">Share your Thoughts</h5>
      <div class="input-field white-text">
        <input type="text" placeholder="Name" />
      </div>
      <div class="input-field white-text">
        <input type="text" placeholder="Email" />
      </div>
      <div class="input-field white-text">
        <textarea
          class="materialize-textarea"
          type="text"
          placeholder="Enter Message"
        ></textarea>
      </div>
      <button class="btn waves-effect waves-light custom-color lighten-3" 
      type="submit">Send</button>
    </div>

  </div>
</section>
<!-- footer -->
<footer class="section custom-color lighten-1 white-text center">
  <h5 class="white-text">জ্ঞানঘর-কুবি &copy; <%= new Date().getFullYear()%> </h5>
</footer>
